.legend {
  font-size: 12px;
}

.legend rect {
  fill: white;
  stroke: black;
  stroke-width: 1;
}

.legend text {
  fill: black;
}

#cont {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 3px;
  background-color: #f0f0f0;
}

#cont_ {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 3px;
  background-color: #f0f0f0;
}